@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

:root {
  /** -- COLORS --*************************************************************************************************************************/
  --color1: #fd7b12;
  --color2: white;
  --color3: #22231f;
  --color4: #fcbf49;
}

/* -- TYPO -- *************************************************************************************************************************/

p {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 2rem;
}

.team h3 {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1rem;
  letter-spacing: 0.1em;
}
h4 {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

a.heading,
a.heading:hover {
  border-bottom: none;
}

/* -- BTN/LINK -- *************************************************************************************************************************/
a {
  color: black;
}

.login--btn,
.admin--btn,
.close--btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--color3);
  background: transparent;
}

.login--btn svg {
  height: 30px;
  width: 30px;
}

.login--form button {
  padding: 1em 3em;
  background-color: orange;
  border-radius: 5px;
}

.close--btn {
  background-color: transparent;
  font-size: 2rem;
}

.admin--btn {
  text-align: right;
  margin: 0.25em;
  border-radius: 5px;
  z-index: 2;
}

.admin--btn button {
  background-color: transparent;
}

/* -- LAYOUT -- *************************************************************************************************************************/

body {
  background-color: var(--color2);
}

.hero {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.video--container {
  height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("stream_bg.png") var(--color3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .hero--video {
   -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); 
} */

.sidebar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: whitesmoke;
  gap: 1em;
  overflow-x: hidden;
}

.sidebar > section {
  border-radius: 10px;
}

.sidebar a,
.sidebar svg {
  color: whitesmoke;
  cursor: pointer;
}

.sidebar a {
}

.ticker,
.player--streams {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em;
  justify-content: baseline;
  background-color: var(--color3);
}

.ticker h3,
.player--streams h3 {
  color: grey;
  padding: 0.5em 0;
}

.stream--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stream--link a {
  overflow-wrap: anywhere;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0;
}

.stream--link a svg {
  overflow-wrap: no-wrap;
  overflow: visible;
}

.upcoming--match {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.upcoming--match div:first-child {
  flex: 1;
}

.upcoming--match div:not(:first-child) {
  flex: 0;
}

.match--link {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  padding: 0.5em;
  width: 100%;
}

.match--link * {
  overflow: hidden;
}

.match--stream {
  padding: 0 1em;
}

.team--1 {
  text-align: right;
}

.team--2 {
  text-align: left;
}

.versus {
  text-align: center;
}

main {
  padding: 1em;
  font-size: 1.5rem;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  background-color: grey;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  margin: auto;
}

.login h2 {
  color: var(--color3);
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.login form input {
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 5px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color2) inset;
}

.pagination--btns {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.pagination--btns p {
  color: whitesmoke;
}
.pagination--btns button {
  color: whitesmoke;
  padding: 1em;
  display: flex;
}

.pagination--btns svg {
  height: 25px;
  width: 25px;
}

/* -- ADMIN -- *************************************************************************************************************************/
h4.admin {
  padding: 1em;
  width: 100%;
}

.admin--add--stream,
.admin--add--match,
.admin--add--player--to--team {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
}

.admin--add--stream button,
.admin--add--match button {
  background-color: transparent;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin--add--stream input,
.admin--add--match input,
.admin--add--player--to--team input,
.admin--add--player--to--team select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.admin--add--stream p,
.admin--add--match p {
  flex-basis: 100%;
}

.admin--btns {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 1em;
}

.delete--stream--btn,
.cancel--btn,
.confirm--btn,
.edit--btn {
  padding: 1em;
}

.delete--stream--btn svg,
.cancel--btn svg,
.confirm--btn svg,
.edit--btn svg {
  height: 25px;
  width: 25px;
}

.calendar-wrapper {
  z-index: 2;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.react-calendar {
  font-family: "Oswald", sans-serif;
  background-color: whitesmoke;
  height: max-content;
  z-index: 3;
  padding: 1em;
  margin: auto;
  position: absolute;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-around;
}

/* --TEAM -- *************************************************************************************************************************/

.player--container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1em;
  width: 340px;
}

.wc3--team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.player--team--img {
  grid-column: 1/-1;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.race--icon {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  margin-right: 1em;
}

.player--race--name {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1em;
  overflow: hidden;
}

.player--container h3 {
  margin-right: auto;
  overflow: hidden;
}

/* -- STREAM -- *************************************************************************************************************************/
.stream {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- ABOUT -- *************************************************************************************************************************/

.about section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about section div {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  text-align: justify;
  flex: 1;
}

.about img {
  object-fit: contain;
  border-radius: 5px;
  align-self: baseline;
  overflow: hidden;
}

/* -- ERROR -- *************************************************************************************************************************/

.error--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- ARCHIVE -- *************************************************************************************************************************/

.archive button {
  display: none;
}

#restore--btn {
  display: unset;
}

.restore--btn svg {
  height: 40px;
  width: 40px;
  color: lightgreen;
  background-color: var(--color3);
  border-radius: 100%;
  padding: 0.25em;
}

/* -- TOOLTIP -- *************************************************************************************************************************/

.tooltip--children {
  position: relative;
}

.tooltip {
  font-family: "Oswald", sans-serif;
  font-size: 0.75rem;
  position: absolute;
  text-align: center;
  background-color: whitesmoke;
  color: #22231f;
  padding: 0.25em 0.5em;
  border-radius: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -230%);
  width: max-content;
}

.tooltip:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid whitesmoke;
  border-top: 7px solid whitesmoke;
  border-bottom: 7px solid transparent;
  right: 16px;
  bottom: -12px;
}

/* -- UTILITY -- *************************************************************************************************************************/

.bg-black {
  background-color: #22231f;
}

.bg-orange {
  background-color: orange;
}

.bg-transparent {
  background-color: transparent;
}

.error {
  color: darkred;
  font-size: 1rem;
}

.transparent {
  color: transparent;
}

.admin {
  background-color: #fd7b12;
  border-radius: 5px;
  color: white;
}

.number {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
}

.no--link {
  cursor: auto;
}

.pointer {
  cursor: pointer;
}

.live {
  color: var(--color1);
}

.bold {
  font-weight: bold;
}

svg.transparent {
  color: var(--color3);
  cursor: unset;
}

div.transparent {
  padding: 1em;
}

/* -- MEDIA -- *************************************************************************************************************************/
@media (width < 1400px) {
  .match--link {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
  }
}

@media (width < 1310px) {
  .about section {
    flex-direction: column;
  }
  .about h2 {
    text-align: center;
  }
}

@media (width < 1200px) {
  .hero {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hero--video {
    overflow: hidden;
    justify-self: center;
    transform: translateX(0px);
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); */
  }

  .video--container {
    height: 400px;
  }
  .ticker {
    height: auto;
  }

  .player--streams {
    height: auto;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .match--link {
    gap: 0.5em;
  }
}

@media (width<950px) {
  .match--link {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
  }
}

@media (width < 750px) {
  .video--container {
    height: 300px;
  }
  h2 {
    font-size: 1.5rem;
  }
  .sidebar {
    font-size: 1rem;
    gap: 1px;
    width: 100%;
  }
  .sidebar h3 {
    font-size: 0.75rem;
  }
  .home {
    padding: 0;
    padding-top: 1px;
    display: flex;
  }
  .sidebar section {
    border-radius: 0px;
  }
  .ticker {
    flex-grow: 1;
    height: 100%;
  }
  .wc3--team {
    gap: 0px;
    justify-content: center;
    align-items: center;
  }
  .player--container {
    padding: 0.5em;
    width: 200px;
  }
  .player--team--img {
    height: 275px;
    width: 175px;
  }
  .race--icon {
    width: 30px;
    height: 30px;
    margin-right: 0px;
  }
  .player--race--name {
    margin-top: 0.25em;
    display: flex;
    gap: 1em;
    text-align: right;
  }
  .player--race--name h3 {
    font-size: 1rem;
  }
}

@media (width < 550px) {
  .video--container {
    height: 200px;
  }

  .admin--btns {
    flex-direction: row;
    margin: auto;
  }
  .admin--add--stream {
    display: flex;
    flex-direction: column;
  }
  .player--streams {
    font-size: 1rem;
  }
  .match--link {
    gap: 0em;
  }
  .sidebar section {
    padding: 0.5em;
  }
  .player--streams {
    justify-content: center;
    align-items: center;
  }
  .player--container {
    padding: 0.25em;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team {
    text-align: center;
  }

  .player--team--img {
    height: 400px;
    width: 300px;
  }

  .player--race--name {
    margin-top: 0.25em;
    overflow: hidden;
  }
  .player--race--name h3 {
    font-size: 1.5rem;
  }
}

@media (width < 380px) {
}
